<div>
  <input type="text"  (keydown.enter)="save($event)"/>
  <ul >
    <li *ngFor="let a of activities" >
        <app-activity-detail [activity]='a' (out)="receiveEvent($event)"></app-activity-detail>
    </li>
  </ul>
  <button (click)='showSelected()'>Show selected</button>
  <button (click)='showAll()'>Show All</button>
  <button (click)='selectAll()'>Select All</button>
  <button (click)='unselectAll()'>Unselect All</button>
  <button (click)='showActive()'>Show Active</button>
  <button (click)='deleteCompleted()'>deleteCompleted</button>
</div>